.header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-colour);
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 4px var(--tertiary-colour);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header > a {
    color: var(--quarternary-colour);
    padding: .5rem;
    border: solid 2px var(--quarternary-colour);
}