.recipe-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.filter-list {
    width: 100%;
    display: flex;
    gap: 12px;
}

.filter-list li {
    padding: 1rem;
    cursor: pointer;
}