.recipe-card {
    width: 49%;
    display: flex;
    flex-direction: row;
    border: solid 4px var(--tertiary-colour);
    padding: 1rem;
    gap: 12px;
    text-align: left;
   
}

.recipe-card h3 {
    text-align: left;
}

.recipe-card a {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.recipe-card img {
    padding: 1rem;
    transform: rotate(6deg);
    background-color: white;
}

.recipe-card-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.health-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.health-labels span {
    background-color: var(--tertiary-colour);
    padding: .5rem;
    color: var(--primary-colour);
}