.recipe-header-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--tertiary-colour);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
}

.image-container img {
    padding: 1rem;
    background-color: white;
    transform: rotate(6deg);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.text-container h1 {
    font-size: 3rem;
    text-align: center;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-colour);
    padding: 1rem;
    padding-top: 2rem;
}

.filter-container h2 {
    width: 100%;
    text-align: center;
    color: var(--quarternary-colour);
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom: solid 4px var(--quarternary-colour);
    padding-bottom: 1rem;
}

.filter-container a {
    padding: 1rem;
    background-color: var(--primary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.filter-container a:hover {
    color: var(--tertiary-colour);
}

.filter-container > strong {
    color: var(--quarternary-colour);
    margin-top: 1rem;
    padding: .5rem;
    background-color: var(--primary-colour);
}

.filter-container .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
}

.content-section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--primary-colour);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    width: 50%;
}

.content:first-child {
    border-right: solid 4px var(--tertiary-colour);
    justify-content: flex-start;
}

.content p {
    font-size: 1.2rem;
}

.content h2 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    color: var(--tertiary-colour);
    border-bottom: solid 4px var(--tertiary-colour);
}

.content:first-child h2 {
    margin-bottom: 1rem;
}

.nutrient-content-section {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.nutrient-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 50%;
}

.nutrient-content:first-child {
    border-right: solid 4px var(--primary-colour);
}

.nutrient-content h2 {
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
    border-bottom: solid 4px var(--primary-colour);
}

.recipe-link::after {
    content: "";
    mask-image: url('../../../app/images/hand-pointer-regular.svg');
    display: block;
    width: 24px;
    height: 24px;
    mask-repeat: no-repeat;
    background-color: var(--quarternary-colour);
}

@media screen and (max-width: 768px) {
    .recipe-header-container {
        flex-direction: column;
    }
    .image-container {
        width: 100%;
    }
    .text-container {
        width: 100%;
    }
    .content-section {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .content:first-child {
        border: 0;
    }
    .nutrient-content-section {
        flex-direction: column;
    }
    .nutrient-content {
        width: 100%;
    }
    .nutrient-content:first-child {
        border: 0;
    }
}