.content-wrapper {
    display: flex;
    padding: 1rem;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.title-container {
    padding: 1rem;
}

.main h1 {
    text-align: center;
}